<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.mapper.BackdownMapper">
    <!--    通用查询映射结果-->
    <resultMap id="BaseResultMap" type="com.cqupt.pojo.Backdown">
        <id column="id" property="id"/>
        <result column="remarks" property="remarks"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="customer_id" property="customerId"/>
        <result column="retreattime" property="retreattime"/>
        <result column="retreattype" property="retreattype"/>
        <result column="retreatreason" property="retreatreason"/>
        <result column="auditstatus" property="auditstatus"/>
        <result column="auditperson" property="auditperson"/>
        <result column="audittime" property="audittime"/>
    </resultMap>
    <!--    通用查询结果列-->
    <sql id="Base_Column_List">
        <include refid="Base_Column_List" />
    </sql>
    <select id="selectBackdownVo" resultType="com.cqupt.vo.BackdownVo">
        SELECT DISTINCT
            bdn.id,
            bdn.remarks,
            bdn.is_deleted,
            bdn.customer_id,
            bdn.retreattime,
            bdn.retreattype,
            bdn.retreatreason,
            bdn.auditstatus,
            bdn.auditperson,
            bdn.audittime,
            bdd.bed_details,
            cs.checkin_date,
            cs.bed_id,
            cs.customer_name
        FROM
            backdown bdn,
            user u,
            beddetails bdd,
            Customer cs
        <where>
            cs.user_id = u.id
            AND cs.id = bdn.customer_id
            AND bdn.customer_id = bdd.customer_id
            AND bdn.is_deleted =0
            <if test="userId!=null and userId!=''">
                and u.id = #{userId}
            </if>
        </where>
    </select>


</mapper>
