<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.mapper.CustomerNurseItemMapper">
    <!--    通用查询映射结果-->
    <resultMap id="BaseResultMap" type="com.cqupt.pojo.CustomerNurseItem">
        <id column="id" property="id"/>
        <result column="item_id" property="itemId"/>
        <result column="custormer_id" property="customerId"/>
        <result column="level_id" property="levelId"/>
        <result column="nurse_number" property="nurseNumber"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="buy_time" property="buyTime"/>
        <result column="maturity_time" property="maturityTime"/>
    </resultMap>
    <!--    通用查询结果列-->
    <sql id="Base_Column_List">
        <include refid="Base_Column_List" />
    </sql>
    <select id="selectCustomerNurseItemVo" resultType="CustomerNurseItemVo">
        SELECT
            cni.id,
            cni.item_id,
            cni.custormer_id,
            cni.level_id,
            cni.nurse_number,
            cni.is_deleted,
            cni.buy_time,
            cni.maturity_time,
            c.customer_name,
            nc.serial_number,
            nc.nursing_name,
            nc.service_price
        FROM
            customernurseitem cni
                LEFT JOIN customer c ON cni.custormer_id = c.id
                LEFT JOIN nursecontent nc ON cni.item_id = nc.id
        <where>

            <if test="customerId!=null ">
                cni.custormer_id =#{customerId}
            </if>
            and cni.is_deleted = 0
        </where>
    </select>
</mapper>