<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.mapper.MealMapper">

    <!--    通用查询映射结果-->
    <resultMap id="BaseResultMap" type="com.cqupt.pojo.Meal">
        <id column="id" property="id"/>
        <result column="week_day" property="weekDay"/>
        <result column="food_id" property="foodId"/>
        <result column="meal_type" property="mealType"/>
        <result column="taste" property="taste"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>
    <!--    通用查询结果列-->
    <sql id="Base_Column_List">
        <include refid="Base_Column_List" />
    </sql>
    <select id="selectMealVo" resultType="MealVo">
        SELECT
            m.id,
            m.week_day,
            m.food_id,
            m.meal_type,
            m.taste,
            m.is_deleted,
            f.food_name,
            f.price,
            f.food_type,
            f.is_halal,
            f.food_img
        FROM
            meal m
                LEFT JOIN food f ON m.food_id = f.id
        <where>
            m.is_deleted = 0
            <if test="weekDay!=null and weekDay!=''">
                and m.week_day =#{weekDay}
            </if>
            <if test="mealType!=null and mealType!=''">
                and m.meal_type = #{mealType}
            </if>
        </where>
    </select>
</mapper>